@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* Box sizing rules */
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove default margin */
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Set Body defaults */
body {
  min-height: 100vh;
  line-height: 2;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background: black;
}
body .skip-link {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
}
body .skip-link::before {
  content: " ⇩";
  margin-right: 6px;
}
@keyframes skip {
  0% {
    color: red;
    word-spacing: normal;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
    word-spacing: 1rem;
  }
  100% {
    color: green;
    word-spacing: normal;
  }
}
body .skip-link:hover {
  animation: skip 1s infinite;
  transition: word-spacing 1s;
}

/* create this class to extend to other elements */
.button, body > footer ul li, nav li, header > .container .link-github {
  font-size: 1rem;
  padding: 6px 8px;
  border: 2px solid #ccc;
  gap: 0.3rem;
  transition: all 0.15s;
  position: relative;
  top: -3px;
  right: 3px;
  box-shadow: 2px 2px #4d4d4d;
  background: white;
  border-radius: 2rem;
  color: black;
}
.button a, body > footer ul li a, nav li a, header > .container .link-github a, .button span, body > footer ul li span, nav li span, header > .container .link-github span {
  color: black;
}
.button svg, body > footer ul li svg, nav li svg, header > .container .link-github svg {
  fill: black;
}
.button:hover, body > footer ul li:hover, nav li:hover, header > .container .link-github:hover {
  border-color: #3a00ff;
  top: 0;
  right: 0;
  box-shadow: none;
}
.button:hover svg, body > footer ul li:hover svg, nav li:hover svg, header > .container .link-github:hover svg {
  fill: #3a00ff;
}

/*=============================
 *  HEADER STYLES */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ccc;
  background: white;
  border-radius: 0 0 3rem 3rem;
}
header > .container {
  padding: 0 3rem;
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  justify-items: center;
}
header > .container .link-github {
  width: max-content;
}
header > * {
  justify-content: center;
  text-align: center;
}
@keyframes wow-new-fonts {
  0% {
    font-family: "Times New Roman", Times, serif;
  }
  10% {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  20% {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  30% {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  40% {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  50% {
    font-family: Arial, Helvetica, sans-serif;
  }
  60% {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  70% {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  80% {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  90% {
    font-family: "Courier New", Courier, monospace;
  }
  100% {
    font-family: "Times New Roman", Times, serif;
  }
}
header h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(2rem, 8vw, 10vw);
  letter-spacing: 0.5rem;
}
header h1::first-letter {
  font-size: 150%;
  font-weight: 500;
}
header h1:hover {
  animation: wow-new-fonts forwards 5s;
}
header h2 {
  font-size: clamp(1.2rem, 3vw, 3rem);
}

nav {
  display: flex;
  justify-content: center;
  background: black;
}
nav ul {
  background: #2c2c2c;
  border: 2px solid #727272;
  border-radius: 3rem;
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
nav li {
  background: #ccc;
  border-color: #727272;
}
nav li a {
  color: #2c2c2c;
}
nav li:hover a {
  color: #3a00ff;
}
nav a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
}

svg {
  width: 1em;
  height: 1em;
}

/*=============================
 *  MAIN STYLES */
[class^=link], .profile .container > a {
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

main {
  padding-top: 1rem;
  background: black;
  display: flex;
  justify-content: center;
}
main > div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(400px, 80vw, 100vw);
}
main article {
  padding: 2rem;
  border-radius: 1rem;
  background: white;
  padding-top: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
main article h2 {
  font-size: clamp(1.35rem, 5vw, 3rem);
  background: white;
  border-radius: 2rem;
  text-align: center;
  width: 100%;
  overflow-wrap: normal;
  word-break: keep-all;
  top: 0;
  position: relative;
  box-shadow: none;
  transition: all 0.3s;
}
main article section ~ section {
  margin-top: 3rem;
}
main article ul {
  list-style: none;
  border: 1px solid #d42257;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main article ul li {
  margin: 4px 6px;
  padding: 2px 6px;
  cursor: help;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  border: 1px solid white;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}
@keyframes floaty {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}
main article ul li:hover {
  border-color: #3a00ff;
  animation: floaty 1s infinite;
}
main article section > a, main article section > p a, main article section li a, main article section > blockquote a {
  text-decoration: none;
  color: #383838;
  font-weight: 600;
  color: #3a00ff;
}
@keyframes color-change {
  0% {
    color: #3a00ff;
  }
  50% {
    color: #d42257;
  }
  100% {
    color: #3a00ff;
  }
}
main article section > a:hover, main article section > p a:hover, main article section li a:hover, main article section > blockquote a:hover {
  animation: color-change 1s infinite;
}
main article section:hover h2 {
  box-shadow: rgba(149, 157, 165, 0.308) 0px 8px 24px;
  top: -2rem;
}
main section:last-of-type > a:last-of-type, main section:last-of-type p:last-of-type, main section:last-of-type ul ~ p {
  width: 100%;
  text-align: center;
  justify-self: center;
  justify-content: center;
}
main #files > .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: center;
}
main #files > .container h3 {
  flex-basis: 100%;
  text-align: center;
}
main #files > .container a {
  padding: 2px 6px;
  color: white;
  font-weight: 500;
  border-radius: 2px;
  background: #3a00ff;
  border: 2px solid #d42257;
  transition: all 0.3s;
}
main #files > .container a:hover {
  background: #d42257;
  border-color: #3a00ff;
}

/*=============================
 *  ASIDE STYLE PROFILE PANEL STYLES */
aside.profile {
  z-index: 10;
  width: 30%;
  position: fixed;
  right: 0;
  bottom: -300px;
  transition: bottom 0.2s ease-out;
}
aside.profile .container {
  padding: 0.5rem 1rem;
  background: #ebebeb;
  height: 300px;
}
aside.profile .container::after {
  background: black;
  color: white;
  content: "▲ Style";
  padding-left: 1rem;
  width: 50%;
  position: absolute;
  left: 0;
  top: -32px;
  border-radius: 1rem 1rem 0 0;
}
aside.profile:hover {
  bottom: 0;
}

/*=============================
 *  FOOTER STYLES */
body > footer {
  bottom: 0;
  bottom: -300px;
  transition: bottom 0.2s ease-out;
}
body > footer .container {
  padding: 1rem;
  background: white;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-direction: column;
}
body > footer .container::after {
  backdrop-filter: blur(3px) brightness(33%);
  color: white;
  content: "▲ Credits";
  padding-left: 1rem;
  width: 33%;
  position: absolute;
  left: 0;
  top: -32px;
  border-radius: 1rem 1rem 0 0;
}
body > footer p {
  margin: 0;
  text-align: center;
}
body > footer p:nth-last-of-type(1), body > footer p:nth-last-of-type(2) {
  font-size: 0.8rem;
  margin: 0.5em;
  margin-top: 1rem;
  color: #474747;
}
body > footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}
body > footer ul li {
  gap: 0.5rem;
  min-width: max-content;
}

/*=============================
 *  Alternate Mobile Layout */
@media (width <= 768px) {
  nav ul {
    flex-wrap: wrap;
  }
  nav ul li {
    width: 60%;
    min-width: max-content;
    text-align: center;
  }
  main .container {
    width: 100%;
  }
  main article {
    margin-top: 2rem;
    position: static;
    padding-top: 1rem;
    right: 0;
  }
  main article h2 {
    width: 100%;
    right: 0;
  }
  main article ul {
    margin: 0;
    padding: 0;
  }
  main article ul li {
    flex-basis: 30%;
  }
  main article:hover h2 {
    box-shadow: none;
  }
  aside.profile {
    width: 50%;
    bottom: -400px;
  }
  aside.profile .container {
    height: 400px;
    padding: 0.5rem 1rem;
    background: #ebebeb;
  }
  aside.profile .container::after {
    width: 100%;
  }
  aside.profile:hover {
    bottom: 0px;
  }
  footer ul {
    gap: 0;
  }
  footer ul li {
    font-size: 0.7rem;
  }
}
/*=============================
 *  Large Layout */
@media (width >= 769px) {
  main article {
    margin-top: 1rem;
    transform: scale(0.95);
  }
  main article:hover {
    transform: none;
  }
}
/*=============================
 *  !!MEGA Layout!! */
@media (width >= 2560px) {
  body main > .container {
    flex-wrap: wrap;
    flex-direction: row;
  }
  body main > .container article {
    width: 50%;
    flex-basis: 50%;
  }
  body main > .container article section {
    width: 100%;
  }
  body main > .container article section h2 {
    width: 50%;
  }
  body main > .container article:last-of-type {
    flex-basis: 75%;
  }
}