@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --color-primary: #3a00ff;
  --color-primary-alt: #6f6ffd;
  --color-secondary: #d42257;
  --color-background: #d2fbf7;
  --color-text: #412d86;
  --color-light: #fff;
  --color-anchor: #3a00ff;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/* * [Modified] Modern CSS Reset
 * * @link https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Set Body defaults */
body {
  min-height: 100vh;
  line-height: 2;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/*=============================
 *  HEADER STYLES */
header {
  min-height: 16rem;
}
header .link-github {
  padding: 0.5rem 1rem;
}

svg {
  width: 1em;
  height: 1em;
}

/*=============================
 *  MAIN STYLES */
[class^=link]:not(.link-codepen), .profile .container > a {
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

/*=============================
 *  ASIDE STYLES */
aside.profile {
  width: 30%;
  position: fixed;
  right: 0;
  bottom: -300px;
  transition: bottom 0.2s ease-out;
}
aside.profile .container {
  padding: 0.5rem 1rem;
  background: #ebebeb;
  height: 300px;
}
aside.profile .container::after {
  background: black;
  color: white;
  content: "▲ Style";
  padding-left: 1rem;
  width: 50%;
  position: absolute;
  left: 0;
  top: -32px;
  border-radius: 1rem 1rem 0 0;
}
aside.profile:hover {
  bottom: 0;
}

/*=============================
 *  FOOTER STYLES */
footer {
  position: fixed;
  bottom: 0;
  width: 70%;
  bottom: -300px;
  transition: bottom 0.2s ease-out;
}
footer .container {
  padding: 2rem;
  padding-top: 4rem;
  background: #ebebeb;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-direction: column;
}
footer .container::after {
  backdrop-filter: blur(3px) brightness(33%);
  color: white;
  content: "▲ Credits";
  padding-left: 1rem;
  width: 33%;
  position: absolute;
  left: 0;
  top: -32px;
  border-radius: 1rem 1rem 0 0;
}
footer:hover {
  bottom: 0;
}
footer p {
  margin: 0;
}
footer p:nth-of-type(1) {
  margin-top: 1rem;
  text-align: center;
}
footer p:nth-last-of-type(1), footer p:nth-last-of-type(2) {
  font-size: 0.8rem;
  margin: 0.5em;
  margin-top: 1rem;
  color: #474747;
}
footer ul {
  position: absolute;
  top: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}
footer ul li {
  font-size: 1rem;
  padding: 6px 8px;
  border: 2px solid #ccc;
  position: relative;
  top: -3px;
  right: 3px;
  box-shadow: 2px 2px #b4b7c0;
  background: var(--color-primary);
  border-radius: 2rem;
}
footer ul li a, footer ul li span {
  color: white;
}
footer ul li:hover {
  top: 0;
  right: 0;
  box-shadow: none;
}