@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

$color-primary: #3a00ff
$color-primary-alt: #6f6ffd
$color-secondary: #d42257
$font-size-h1: 6rem
$font-size-h2: 3rem
$font-size-h3: 2rem
$font-size-h4: 1.35rem
$font-size-text: 1.15rem
$animation-speed: .3s
$helpful-box-shadow: rgba(149, 157, 165, 0.308) 0px 8px 24px // <- sourced from https://getcssscan.com/css-box-shadow-examples

    
/* Box sizing rules */
html
    box-sizing: border-box
    font-family: "Inter", sans-serif
    overflow-x: hidden

*, *::before, *::after
    box-sizing: border-box

/* Remove all animations and transitions for people that prefer not to see them
@media screen and (prefers-reduced-motion: reduce)
  * 
    animation-duration: 0.01ms !important
    animation-iteration-count: 1 !important
    transition-duration: 0.01ms !important
    scroll-behavior: auto !important


/* Remove default margin */
body,h1,h2,h3,h4,h5,h6
    margin: 0

/* Set Body defaults */
body 
    min-height: 100vh
    line-height: 2
    text-rendering: optimizeSpeed
    overflow-x: hidden
    background: black

    .skip-link
        font-family: "Comic Sans MS", "Comic Sans", cursive
        margin: 1rem
        padding: 1rem
        text-decoration: none
        color: white

        // add a helpful arrow to let them know where they'll go
        &::before
            content: ' ⇩'
            margin-right: 6px
        
        @keyframes skip 
            // create the fun animation
            0%   
                color: red
                word-spacing: normal
            25%  
                color: yellow
            50%  
                color: blue
                word-spacing: 1rem
            100% 
                color: green
                word-spacing: normal
        // activate the fun animation when they hover the skip
        &:hover

            animation: skip 1s infinite
            transition: word-spacing 1s
            
        


/* create this class to extend to other elements
.button
    font-size: 1rem
    padding: 6px 8px
    border: 2px solid #ccc
    gap: .3rem
    
    
    transition: all calc($animation-speed / 2)

    position: relative
    top: -3px
    right: 3px
    box-shadow: 2px 2px #4d4d4d

    background: white

    border-radius: 2rem

    color: black
    a, span
        color: black
    svg
        fill: black

    &:hover
        border-color: $color-primary
        top: 0
        right: 0
        box-shadow: none

        svg
            fill: $color-primary


/*=============================
    HEADER STYLES

header 
    // make the header the entire screen so that the skip button actually makes sense lol
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    border: 2px solid #ccc
    background: white
    border-radius: 0 0 3rem 3rem

    // for the inner header container
    > .container
        padding: 0 3rem
        display: grid // CSS FLEX! 🤘
        gap: .5rem
        
        justify-content: center
        justify-items: center

        .link-github
            @extend .button
            width: max-content
    

            
    > *
        justify-content: center
        text-align: center
    

    // create the header font animation !
    @keyframes wow-new-fonts

        0%
            font-family: 'Times New Roman', Times, serif
        10%
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        20%
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        30%
            font-family: "Comic Sans MS", "Comic Sans", cursive
        40%
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        50%
            font-family: Arial, Helvetica, sans-serif
        60%
            font-family: Georgia, 'Times New Roman', Times, serif
        70%
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        80%
            font-family: Verdana, Geneva, Tahoma, sans-serif
        90%
            font-family: 'Courier New', Courier, monospace
        100%
            font-family: 'Times New Roman', Times, serif
    
    h1
        font-family: 'Times New Roman', Times, serif
        font-size: clamp(2rem, 8vw, 10vw)
        letter-spacing: .5rem
        &::first-letter
            font-size: 150%
            font-weight: 500
        &:hover
            animation: wow-new-fonts forwards 5s
        
        
        
    

            
    h2
        font-size: clamp(1.2rem, 3vw, 3rem)
    
    
    

// navigation styles
nav
    // flex settings
    display: flex
    justify-content: center
    background: black

    ul
        
        background: #2c2c2c
        border: 2px solid #727272
        border-radius: 3rem
        // remove list styling
        list-style: none
        padding: 1rem
        // border: 1px solid darkgreen

        display: flex
        justify-content: center
        gap: .5rem

    li
        @extend .button
        background: #ccc
        border-color: #727272
        a
            color: #2c2c2c
        &:hover
            a
                color: $color-primary
    a
        display: block
        white-space: nowrap
        text-decoration: none
       
svg
    width: 1em
    height: 1em

    
/*=============================
    MAIN STYLES

[class^=link], .profile .container > a
    display: inline-flex
    align-items: center
    
    //font-size: 1.125rem
    text-align: center
    text-decoration: none

main
    padding-top: 1rem
    
    background: black
    display: flex
    
    justify-content: center

    > div.container
        display: flex
        flex-direction: column
        justify-content: center
        width: clamp(400px, 80vw, 100vw)
        
        

    article
        padding: 2rem
        border-radius: 1rem
        background: white    
        
        padding-top: 1rem
        
        h2
            // section title styles
            font-size: clamp($font-size-h4, 5vw, $font-size-h2)
            background: white
            border-radius: 2rem
            text-align: center

            width: 100%
            overflow-wrap: normal
            word-break: keep-all
            

            top: 0
            
            position: relative
            
            // don't forget to animate!

            box-shadow: none
            transition: all $animation-speed
            
        section ~ section
            margin-top: 3rem

        ul
            // unique list in modern css spotlight
            list-style: none
            border: 1px solid $color-secondary
            border-radius: 1rem
            padding: 1rem
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            
            li
                // styles for each modern css component
                margin: 4px 6px
                padding: 2px 6px

                
                cursor: help
                display: flex
                flex-direction: column
                justify-content: center
                text-align: center
                
                position: relative
                border: 1px solid white
                border-radius: 1rem

                // animated list items..
                transition: all calc($animation-speed/2) ease-in-out
                
                // create an animation for tilting the components
                @keyframes floaty
                    0%  
                        transform: rotate(0deg)
                        
                    25%
                        transform: rotate(3deg)

                    50%
                        transform: rotate(0deg)
                        
                    75%
                        transform: rotate(-3deg)

                &:hover
                    // fire the animation when the element is hovered
                    border-color: $color-primary
                    animation: floaty 1s infinite

        blockquote
            // blockquote styles
                padding: 2rem
            

        section > a, section > p a, section li a, section > blockquote a
            text-decoration: none
            color: #383838
            font-weight: 600

            @keyframes color-change 
                0%
                    color: $color-primary

                50%
                    color: $color-secondary

                100%
                    color: $color-primary 
            
            color: $color-primary
            &:hover
                animation: color-change 1s infinite


        position: relative
        
        // section animation section
        transition: all calc($animation-speed) ease-in-out
        section:hover h2
            // when the section is hovered, target the H2s & shadow them
            box-shadow: $helpful-box-shadow
            top: -2rem

    

    section:last-of-type
        > a:last-of-type, p:last-of-type, ul ~ p
            // for the footer elements of all the articles: center them 
            width: 100%
            text-align: center
            justify-self: center
            justify-content: center

    #files > .container
        // this container was difficult to center because the anchor elements aren't actually in a container, but i think using flex basis to achieve it is pretty good :) 
        display: flex
        flex-wrap: wrap
        column-gap: 1rem
        justify-content: center
        h3
            flex-basis: 100%
            text-align: center
        a
            padding: 2px 6px
            
            color: white
            font-weight: 500
            
            border-radius: 2px
            background: $color-primary
            border: 2px solid $color-secondary
            
            transition: all $animation-speed
            &:hover
                background: $color-secondary
                border-color: $color-primary



/*=============================
    ASIDE STYLE PROFILE PANEL STYLES

aside.profile
    z-index: 10
    width: 30%
    position: fixed
    right: 0
    bottom: -300px
    // bottom: 0
    transition: bottom .2s ease-out
    

    .container
        padding: .5rem 1rem
        background: #ebebeb
        height: 300px
        &::after
            background: black
            color: white
            content: '▲ Style'
            padding-left: 1rem 

            width: 50%
            position: absolute
            left: 0
            top: -32px

            border-radius: 1rem 1rem 0 0 

    &:hover
        bottom: 0
            

/*=============================
    FOOTER STYLES

body > footer
    bottom: 0
    bottom: -300px
    transition: bottom .2s ease-out
    
    .container
        padding: 1rem

        background: white
        
        width: 100%
        height: 300px
        
        
        margin-left: auto
        margin-right: auto 
        display: inline-flex
        flex-direction: column

        // Tab
        &::after
            backdrop-filter: blur(3px) brightness(33%)
            color: white
            content: '▲ Credits'
            padding-left: 1rem 

            width: 33%
            position: absolute
            left: 0
            top: -32px

            border-radius: 1rem 1rem 0 0 

    p
        margin: 0
        text-align: center

        &:nth-last-of-type(1), &:nth-last-of-type(2)
            font-size: .8rem
            margin: .5em
            margin-top: 1rem
            color: #474747

    ul
        
        list-style: none
        padding: 0
        margin: 0
        display: inline-flex
        justify-content: center
        gap: 1rem

        li
            @extend .button
            gap: .5rem
            min-width: max-content

/*=============================
    Alternate Mobile Layout
@media ( width <= 768px )
    
    nav ul
        flex-wrap: wrap
        li 
            width: 60%
            min-width: max-content
            text-align: center

    main
        .container
            width: 100%
        
        article
            margin-top: 2rem
            position: static
            padding-top: 1rem
            right: 0
            
            h2
                
                width: 100%
                right: 0
                        
            ul
                margin: 0
                padding: 0
                li
                    
                    flex-basis: 30%
            
            &:hover 
                h2

                    box-shadow: none
            
                    
                    

    
    aside.profile
        width: 50%
        
        bottom: -400px
        .container
            height: 400px
            padding: .5rem 1rem
            background: #ebebeb
            
            &::after
                width: 100%
            

        &:hover
            bottom: 0px

    footer ul 
        gap: 0
        li
            font-size: 0.7rem
/*=============================
    Large Layout
@media ( width >= 769px )
    main

        article
            margin-top: 1rem

            
            transform: scale(.95)
                
            &:hover
                transform: none
    


/*=============================
    !!MEGA Layout!!
@media ( width >= 2560px )
    body main > .container
        flex-wrap: wrap
        flex-direction: row
       
        article 
            width: 50%
            flex-basis: 50%
            section
                width: 100%
                h2
                    width: 50%
            &:last-of-type
                flex-basis: 75%