@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* Box sizing rules */
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove default margin */
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Set Body defaults */
body {
  min-height: 100vh;
  line-height: 2;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/*=============================
 *  HEADER STYLES */
header {
  height: 100vh;
}
header > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 16rem;
}
header > .container .link-github {
  padding: 0.5rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  background: black;
}
nav ul {
  list-style: none;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
nav li {
  background: #eee;
  width: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
nav a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
}

svg {
  width: 1em;
  height: 1em;
}

/*=============================
 *  MAIN STYLES */
[class^=link], .profile .container > a {
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

main {
  padding-top: 1rem;
  background: black;
  display: flex;
  justify-content: center;
}
main > div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(400px, 80vw, 100vw);
}
main article {
  padding: 2rem;
  border-radius: 1rem;
  background: white;
  padding-top: 1rem;
  position: relative;
  transition: all 0.3s ease-out;
}
main article h2 {
  font-size: 3rem;
  background: white;
  border-radius: 2rem;
  text-align: center;
  top: 0;
  position: relative;
  box-shadow: none;
  transition: all 0.3s;
}
main article section ~ section {
  margin-top: 3rem;
}
main article ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main article ul li {
  user-select: none;
  margin: 1rem;
  cursor: help;
  position: relative;
  top: 0;
  transition: all 0.3s ease-in-out;
}
main article ul li:hover {
  top: -5px;
  transform: scale(1.2) rotate(3deg);
}
main article ul li:nth-child(even):hover {
  transform: scale(1.2) rotate(-3deg);
}
main article section:hover h2 {
  box-shadow: rgba(149, 157, 165, 0.308) 0px 8px 24px;
  font-size: 3.5rem;
  top: -2rem;
}

/*=============================
 *  ASIDE STYLES */
aside.profile {
  z-index: 10;
  width: 30%;
  position: fixed;
  right: 0;
  bottom: -300px;
  transition: bottom 0.2s ease-out;
}
aside.profile .container {
  padding: 0.5rem 1rem;
  background: #ebebeb;
  height: 300px;
}
aside.profile .container::after {
  background: black;
  color: white;
  content: "▲ Style";
  padding-left: 1rem;
  width: 50%;
  position: absolute;
  left: 0;
  top: -32px;
  border-radius: 1rem 1rem 0 0;
}
aside.profile:hover {
  bottom: 0;
}

/*=============================
 *  FOOTER STYLES */
body > footer {
  bottom: 0;
  bottom: -300px;
  transition: bottom 0.2s ease-out;
}
body > footer .container {
  padding: 1rem;
  background: #d2fbf7;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-direction: column;
}
body > footer .container::after {
  backdrop-filter: blur(3px) brightness(33%);
  color: white;
  content: "▲ Credits";
  padding-left: 1rem;
  width: 33%;
  position: absolute;
  left: 0;
  top: -32px;
  border-radius: 1rem 1rem 0 0;
}
body > footer p {
  margin: 0;
}
body > footer p:nth-of-type(1) {
  text-align: center;
}
body > footer p:nth-last-of-type(1), body > footer p:nth-last-of-type(2) {
  font-size: 0.8rem;
  margin: 0.5em;
  margin-top: 1rem;
  color: #474747;
}
body > footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}
body > footer ul li {
  font-size: 1rem;
  padding: 6px 8px;
  border: 2px solid #6f6ffd;
  transition: all 0.15s;
  position: relative;
  top: -3px;
  right: 3px;
  box-shadow: 2px 2px #3a00ff;
  background: #3a00ff;
  border-radius: 2rem;
}
body > footer ul li a, body > footer ul li span {
  color: white;
}
body > footer ul li:hover {
  top: 0;
  right: 0;
  box-shadow: none;
}

/*=============================
 *  Alternate Mobile Layout */
@media (width <= 768px) {
  nav ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  main .container {
    width: 100%;
  }
  main article {
    margin-top: 2rem;
    position: static;
    padding-top: 1rem;
    right: 0;
  }
  main article section:hover h2 {
    font-size: 2rem;
  }
  main article h2 {
    font-size: 2rem;
    width: 100%;
    right: 0;
  }
  main article ul li {
    flex-basis: 30%;
  }
  main article:hover h2 {
    box-shadow: none;
  }
  aside.profile {
    width: 50%;
    bottom: -400px;
  }
  aside.profile .container {
    height: 400px;
    padding: 0.5rem 1rem;
    background: #ebebeb;
  }
  aside.profile .container::after {
    width: 100%;
  }
  aside.profile:hover {
    bottom: 0px;
  }
  footer ul {
    gap: 0;
  }
  footer ul li {
    font-size: 0.7rem;
  }
}
/*=============================
 *  Large Layout */
@media (width >= 769px) {
  main article {
    margin-top: 1rem;
    transform: scale(0.95);
  }
  main article:hover {
    transform: none;
  }
}
/*=============================
 *  !!MEGA Layout!! */
@media (width >= 2560px) {
  body main > .container {
    flex-wrap: wrap;
    flex-direction: row;
  }
  body main > .container article {
    width: 50%;
    flex-basis: 50%;
  }
  body main > .container article section {
    width: 100%;
  }
  body main > .container article section h2 {
    width: 50%;
  }
  body main > .container article:last-of-type {
    flex-basis: 75%;
  }
}